//To compile: sass --watch sass:css --style compressed --sourcemap=none
$freetail-blue: #124e78;
$freetail-red: #e45243;
$light-blue: #E7F3FB;
$about-red: #CB0922;
$bg-gradient-stops: rgba(0, 0, 0, 0.9) 5%,
rgba(0, 0, 0, 0.7) 15%,
rgba(0, 0, 0, 0.3);

$phone-width: 500px;
$tablet-width: 501px;
$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: 0px) and (max-width: #{$phone-width}) {
    @content;
  }
}


/* Josefin San Google Font */

@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';

* {
	color: #EAF0CE;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background: $light-blue;
}

.bg {
	height: 100vh;
	background: radial-gradient($bg-gradient-stops), url(../images/cover-min.png) no-repeat fixed center;
	background-size: 100% 100%;
}

.header {
	margin-bottom: -161px;
}

.logo {
	width: 15%;
	height: auto;
	margin-top: -10px;
}

.content {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
}

.hacktx-logo {
	width: 100%;
	display: block;
	margin: auto;
	padding-bottom: 20px;
}

.teaser-text {
	font-size: 3em;
	text-align: center;
	font-weight: bold;

	.map-link {
	    color: #EAF0CE;
	}
}

.title-buttons {
	background: #CE0019;
	transition: all 0.5s ease;
	border: none;
	border-radius: 3px;
	color: #EAF0CE;
	font-size: 2em;
	padding: 0.6em 0.3em;
	text-decoration: none !important;
	text-shadow: 0 0 0;
	&:hover {
		background: #e6001b;
		text-decoration: none;
		color: #EAF0CE;
	}
}

@media (max-width: 660px) {
	.teaser-text {
		font-size: 2em;
		text-align: center;
	}
	.bg {
		height: 100vh;
		background: radial-gradient($bg-gradient-stops), url(../images/cover-min.png) no-repeat fixed;
	}
}

@media (max-width: 480px) {
	.logo {
		width: 100px;
		margin: 0 auto;
		margin-top: -5px;
		margin-bottom: 24px;
	}
}

.transition {
	margin-top: 5em;
}

.typed-text {
	color: aqua;
}

.about {
	height: 100%;
	width: 100%;
	position: relative;
	background-size: 100% 100%;
	background: $light-blue;
	/* TYPED FOR HACKTX */
	.typed-cursor {
		opacity: 1;
		font-size: 38px;
		color: $freetail-blue;
		font-family: 'Oswald', sans-serif;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
		/*float: left;*/
		margin-top: -.6vh;
	}
	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	h1 {
		color: $about-red;
		font-size: 5em;
		font-weight: bold;
		text-align: center;
	}
	h3 {
		color: $about-red;
		font-size: 3em;
		font-weight: bold;
		text-align: center;
		.typed-title {
			color: $freetail-blue;
		}
	}
	p {
		color: #4E4E4E;
		font-size: 2em;
	}
	.alert {
		color: $about-red;
		fa {
			color: $about-red;
		}
	}
	.alert--success {
		color: #26A65B;
		.fa {
			color: #26A65B;
		}
	}
	.alert--error {
		color: $about-red;
		.fa {
			color: $about-red;
		}
	}
	.about-content {
		p {
			text-align: center;
			margin: auto;
		}
                @include phone {
                        p {
                                text-align: justify;
                        }
                }
		h2 {
			color: $about-red;
			font-size: 2em;
		}
		.mailing-list {
			text-align: center;
			font-size: 2em;
			input[type=email] {
				width: 80%;
				color: $freetail-blue;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
			}
			
			input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		border: 1px solid rgba(203,9,34, 0.4);
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 3px;
		font-size: 18px;
		color: #FFF;
		transition-duration: 0.25s;
		font-weight: 300;
		transition-duration: 0.25s;
		font-weight: 300;
		&.no-expand:focus {
			width: 250px;
		}
		&::selection {
			color: white;
			background: $freetail-blue; /* WebKit/Blink Browsers */
		}
		::-moz-selection {
		  background: #000; /* Gecko Browsers */
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}

		&:focus {
			background-color: white;
		}
	}
			input[type=submit] {
				height: 100%;
				padding: 12px 20px;
				background: $about-red;
				border: 0 none;
				cursor: pointer;
			}
		}
	}
	.hype-video {
		margin-top: 3em;
		height: 50vh;
		width: 100%;
		background-size: 100% 100%;
		background: #E6E6E6;
		margin-bottom: 3em;
	}
	@media (max-width: 768px) {
		.hype-video {
			display: none;
		}
	}
}

.faq {
	height: 100%;
	width: 100%;
	position: relative;
	background-size: 100% 100%;
	background: $freetail-blue;
	.faq-content {
		padding-top: 3em;
		h1 {
			text-align: center;
			font-size: 5em;
			text-shadow: 1.5px 1.5px 1.5px $about-red;
			margin-bottom: 1em;
		}
		.faq-info {
			position: relative;
			text-align: left;
			margin-top: 1em;
			.top-dark-blue {
				background-image: url('../images/textbox1.png');
				background-size: 100% 100%;
				height: 11em;
				@include phone {
					height: 12em;
				}
				width: 100%;
				background-repeat: no-repeat;
				background-position: left top;
				position: relative;
				p {
					position: absolute;
					left: 5%;
					right: 3%;
					top: 15%;
					font-weight: bold;
					font-size: 2em;
					color: #E6E6E6;
				}
			}
			.small-question {
				height: 9em;
			}
			.faq-entry {
				margin-bottom: 1em;
			}
			.huge-text {
				height: 25em !important;
				@include tablet {
					height: 15em !important;
				}
				p {
					top: 35% !important;
					@include tablet {
						top: 50% !important;
					}
					@include phone {
						top: 35% !important;
					}
				}
			}
			.small-text {
				height: 13em !important;
			}
			.opposite-direction-bot {
				background-image: url('../images/textbox2reversed.png') !important;
			}
			.opposite-direction-top {
				background-image: url('../images/textbox1reversed.png') !important;
			}
			#gigantic-text {
				background-image: url('../images/textbox2stretch.png');
				height: 37em;
				background-repeat: no-repeat;
				background-position: left top;
				background-size: 100% 100%;
				margin-top: -2em;
				@include tablet {
					height: 22em;
				}

				p {
					padding-left: 0.5em;
					text-align: left;
					position: absolute;
					width: 90%;
					top: 25%;
					@include tablet {
						top: 40%;
					}
					font-size: 1.3em;
					color: #4E4E4E;
				}
			}
			.bot-light-blue {
				background-image: url('../images/textbox2.png');
				height: 17em;
				background-repeat: no-repeat;
				background-position: left top;
				background-size: 100% 100%;
				margin-top: -2em;
				@include phone {
					margin-top: -2.5em;
					height: 20em;
				}
				p {
					padding-left: 0.5em;
					text-align: left;
					position: absolute;
					width: 90%;
					top: 40%;
					@include tablet {
						top: 50%;
					}

					font-size: 1.3em;
					color: #4E4E4E;
				}
			}
		}
	}
}

.partners {
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background: $light-blue;
	h1 {
		color: $about-red;
		font-size: 5em;
		font-weight: bold;
		text-align: center;
	}
	.partner-row {
		.partner-entry {
			margin-top: 5%;
			margin-bottom: 5%;
			@media (min-width: 768px) {
				display: inline-block;
				vertical-align: middle;
				float: none;
				.push-fix {
					margin-bottom: 0em !important;
				}
			}
		}
	}
	.rest-partners {
		img {
			height: 100%;
			width: 100%;
		}
	}
	.two-per-partners {
		img {
			height: 100%;
			width: 100%;
			//			margin-top: 3em;
		}
	}
	p {
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: center;
		color: #4E4E4E;
		font-size: 2em;
	}
	#mlh {
		width: 35%;
		height: 50%;
	}
	#microsoft {
		width: 50%;
	}
	#utcs {
		width: 50%;
	}
	@media (max-width: 768px) {
		#palantir {
			margin-top: -8em;
		}
		#mlh {
			width: 50%;
			height: 50%;
		}
		#microsoft {
			width: 75%;
		}
		#utcs {
			width: 75%;
		}
                .partnership-text {
                        font-size: 1.5em;
                }
	}
}

.footer {
	height: 100%;
	width: 100%;
	position: relative;
	background-size: 100% 100%;
	background: $about-red;
	.footer-info-row {
		margin-top: 4em;
		margin-bottom: 3em;
		text-align: center;
		a {
			padding: 10px;
		}
	}
	p {
		text-align: center;
		font-size: 1.5em;
		color: $light-blue;
		padding-bottom: 1em;
	}
	i {
		color: $light-blue;
	}
}
